@font-face {font-family: "socialico";src: url("fonts/Socialico/Socialico.eot");src: url("fonts/Socialico/Socialico.eot?#iefix") format("embedded-opentype"), url("fonts/Socialico/Socialico.woff2") format("woff2"), url("fonts/Socialico/Socialico.woff") format("woff"), url("fonts/Socialico/Socialico.ttf") format("truetype"), url("fonts/Socialico/Socialico.svg#lobster_1.4regular") format("svg");}
@font-face {font-family: 'Century Gothic';src: url('fonts/CenturyGothic.eot');src: url('fonts/CenturyGothic.eot?#iefix') format('embedded-opentype'),url('fonts/CenturyGothic.woff2') format('woff2'),url('fonts/CenturyGothic.woff') format('woff'),url('fonts/CenturyGothic.ttf') format('truetype'),url('fonts/CenturyGothic.svg#CenturyGothic') format('svg');font-weight: normal;font-style: normal;}
@font-face {font-family: 'Century Gothic';src: url('fonts/CenturyGothic-Bold.eot');src: url('fonts/CenturyGothic-Bold.eot?#iefix') format('embedded-opentype'),url('fonts/CenturyGothic-Bold.woff2') format('woff2'),url('fonts/CenturyGothic-Bold.woff') format('woff'),url('fonts/CenturyGothic-Bold.ttf') format('truetype'),url('fonts/CenturyGothic-Bold.svg#CenturyGothic-Bold') format('svg');font-weight: bold;font-style: normal;}
@font-face {font-family: 'Abril Fatface';src: url('fonts/AbrilFatface-Regular.eot');src: url('fonts/AbrilFatface-Regular.eot?#iefix') format('embedded-opentype'),url('fonts/AbrilFatface-Regular.woff2') format('woff2'),url('fonts/AbrilFatface-Regular.woff') format('woff'),url('fonts/AbrilFatface-Regular.ttf') format('truetype'),url('fonts/AbrilFatface-Regular.svg#AbrilFatface-Regular') format('svg');font-weight: normal;font-style: normal;}
.suspension-contain {max-height: 980px;overflow:hidden;position: relative;}
html.suspended {background: rgba(0,0,0,0.6);}
body {max-width: 100%;min-width: 1400px;margin: 0 auto;text-align: center;font-family: "Century Gothic"}
a {color:inherit;text-decoration: none}
a:hover {text-decoration: none;color:inherit;}
h1,h2,h3,h4,h5{ padding:0; margin:0; }
.row {max-width: 1280px;margin: 0 auto}
/*floats*/
.fl {float:left;}
.fr {float:right;}
/* grids */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
/*typography*/
.text-primary{ color: #B11414; }
.text-bold{ font-weight: 700; }
.text-uppercase{ text-transform: uppercase }
.text-center{ text-align: center !important; }
.text-left{ text-align: left; }
/*button*/
.btn {font-size: 13px; font-weight: 400; color: #fff; display: inline-block; padding: 18px 26.6px; background: #A9A2CE; border: 1px solid transparent; transition: all 0.5s ease;letter-spacing: 2px}
.btn:hover {background: #ddd; border-color: #ddd; color: #000;}
/*clearings*/
.clear{ clear:both;}
.clearfix:after {content:"."; display:block; height:0; clear:both;visibility:hidden;font-size: 0;}
.clearfix {display:block;}
/*cookie*/
.cc-animate.cc-revoke.cc-bottom{font-size: 14px; padding: 5px 10px; position: fixed; display: block!important; transform: none!important; bottom: 0!important; left: 20px!important;}
/*call to action*/
.destroy-on-load, .cta {display: none;}
/*contact form messages*/
form .messages p {display: none;font-family: Arial !important;font-weight: 400 !important;letter-spacing: 0 !important;font-size: 16px !important;}
form .loading {display: none;}
form .alert {padding: 15px;margin-bottom: 20px;border: 1px solid transparent;border-radius: 4px;}
form .alert-success {color: #3c763d;background-color: #dff0d8;border-color: #d6e9c6;}
form .alert-danger {color: #a94442;background-color: #f2dede;border-color: #ebccd1;}
form [type="submit"] {margin:20px auto}
/*contact form*/
.ctc-form {margin: 0 auto;text-align: center;}
.ctc-form input[type="text"],.ctc-form textarea {font-family:Arial;font-size: 16px;color:#000;height:45px;display: block;width: 100%;border:1px solid #ddd;border-radius: 3px;padding: 5px 10px;box-sizing: border-box;margin: 0 auto 8px}
.ctc-form textarea {height: 120px;padding-top:10px;}
.ctc-form button {display: block;}
.ctc-form .recap {display: inline-block;}
.ctc-form .g-recaptcha div {margin: 0 auto 10px;}
.ctc-form .ctc-hide {display: none;}
/*gallery*/
#content .gallery-container {text-align: center;max-width: 1200px; margin: 0 auto;}
#content .gallery {list-style-type: none;margin: 0;padding: 0;}
#content .gallery li {display: inline-block;}
#content .thumbnail {background-color: #fff;border: 1px solid #ddd;border-radius: 4px;display: block;line-height: .42857; margin-bottom: 20px;padding: 4px;transition: border 0.5s ease-in-out 0s;}
#content .thumbnail:hover {transform: scale(1.02);}
#content .page_navigation {display: inline-block;}
#content .page_link,#content .previous_link,#content .next_link,#content  .first_link,#content  .last_link, #content .ellipse {background-color: #fff;border: 1px solid #ddd;color:  #0275d8;display: inline-block;line-height: 1.25;margin-left: -1px;padding: 0.5rem 0.75rem;position: relative;}
#content .page_navigation > a:hover , .page_navigation > a.active_page {background-color: #eceeef;border-color: #ddd;color: #014c8c;text-decoration: none;}
/* text headers */
h1 {font-family: "Abril Fatface";font-size: 65px;font-weight: 400;color:#A9A0CC;line-height: 82px}
/*header*/
#header {background: rgba(255,255,255,0.9);padding: 10.5px 0; position: relative; z-index: 9999;}
#header .row{max-width:1200px}
#header nav a#pull {display: none}
#header nav ul {margin: 0;padding: 0}
#header nav ul li {display: inline-block;vertical-align: middle;}
#header nav ul li a {font-family: "Century Gothic"; font-weight: 700; font-size: 20px; color: #666666;margin: 0 58px 0 0;}
#header nav ul li:last-child a{margin: 0;}
#header nav ul li.active-menu a, #header nav ul li a:hover {color:#A9A0CC;}
#header .hdLeft{text-align: left;}
#header .hdRight{text-align: right;}
#header .hdRight p{margin: 0;}
#header .hdRight p span{font-weight: bold; font-size: 25px; color: #A9A0CC;}
/*banner*/
#banner {background: url(../images/common/bgBanner.jpg)no-repeat center top; background-size: cover;padding: 118px 0 58px; margin: -52px 0 0 0;}
#banner h2{font-family: "Abril Fatface"; font-size: 68px; color:#fff; line-height: 82px}
#banner p{max-width: 1220px; margin: 1em auto; font-size: 24px; color: #fff;line-height: 31px}
/*content*/
#welcome{position: relative;padding: 89px 0 0;}
.wlcLeft{text-align:left;}
.wlcLeft h3{font-size: 28px; color: #444444; font-weight: 400; line-height: 38px}
.wlcLeft h4{font-weight: 700; font-size: 20px; color: #333333;}
.wlcLeft p{font-size: 15px; color: #444444; line-height: 30.5px; max-width: 644px; margin: 30px auto 0 0;}
.wlcRight{text-align: right;}
.wlcRight img{max-width: 704px; margin: 0 0 0 auto;width: 100%;}
/* about */
#about{padding: 1px 0 100px;}
.abtLeft img{margin: -50px 0 0 -261px; max-width: 921px;width: 116%;}
.abtRight {text-align: left;padding: 73px 0 0;}
.abtRight h1 span{color: #000000;}
.abtRight p {font-size: 15px; color: #444444; line-height: 30.5px; max-width: 527px; margin: 30px auto 60px 0;}
/* services */
#services{background: url(../images/common/bgServices.jpg)no-repeat center top; background-size: cover; padding: 88px 0 84px;}
.svcLeft{text-align: left;padding: 66px 0 0;}
.svcLeft h1{color: #fff;}
.svcLeft ul{list-style: square inside url('../images/common/bulletcheck.png');padding: 0;margin: 40px 0}
.svcLeft ul li{font-weight: 700; font-size: 29px; color: #fff;line-height: 70px}
.svcLeft ul li span{margin: 0 0 0 30px;}
.svcLeft p{font-weight: 400; font-size: 15px; color: #fff;max-width: 527px; margin: 0 auto 0 0; line-height: 30px; letter-spacing: 0.7px}
.svcRight {text-align: right;}
.svcRight img{display: inline-block; vertical-align: top; width: 47.44%;margin: 0 0 10px 10px;}
.svcLeft .button {margin: 45px 0 0;font-size: 20px; font-weight: 700; color: #fff; display: inline-block; padding: 18px 26.6px; background: #A9A2CE; border: 1px solid #fff; border-radius: 10px; transition: all 0.5s ease;}
.svcLeft .button:hover {background: #ddd; border-color: #ddd; color: #000;}
/* testimonials */
#testimonials{background: url(../images/common/bgTestimonials1.jpg)no-repeat left top, url(../images/common/bgTestimonials2.jpg)no-repeat right top; background-size: 50% 100%, 50% 100%; padding: 44px 0 54px;}
.testiLeft img{margin: 0 80px 0 auto; display: block;max-width: 266px; width: 100%;}
.testiLeft img:first-child{margin: 0 80px 20px auto;}
.testiRight{text-align:left;padding: 34px 0 0;}
.testiRight h1{color: #fff;}
.testiRight dl dt p{margin: 0; line-height: 22px; font-size: 15px; color: #fff;}
.testiRight dl dd{padding: 15px 0; margin: 0;}
.testiRight p{margin: 0;font-size: 16px; color: #A9A2CE;}
.testiRight p span{display: block; font-size: 25px; color: #fff;}
/* contact */
#contact{background: url(../images/common/bgContact.jpg)no-repeat center top; background-size:cover; padding: 49px 0 54px;}
.cntLeft{text-align: left;}
.cntLeft h1 {margin: 0 0 40px;}
.cntLeft h1 span{color: #000000;}
.cntLeft .text{margin: 0 auto 0 116px;}
.cntLeft .text img{margin: 0 10px 10px 0;}
.cntRight .cntPanel{padding: 1px 40px 10px;border-radius: 5px; box-shadow: 0 0 20px -10px; background: #fff}
.cntRight .cntPanel h1 span{color: #000000;}
.cntRight .cntPanel form input[type="text"]{border-radius: 0; width: 100%; height: 52px;background: #EEEEEE}
.cntRight .cntPanel form input[type="text"]::placeholder{font-size: 14px; color: #AAAAAA;}
.cntRight .cntPanel form textarea{border-radius: 0; width: 100%;height: 104px; background: #EEEEEE}
.cntRight .cntPanel form textarea::placeholder{font-size: 14px; color: #AAAAAA;}
.cntRight .cntPanel form p{margin: 0;text-align: left;font-family: "Century Gothic"; font-size: 13px; color: #333333;}
.cntRight .cntPanel form .btn{font-weight: bold;}
/*footer*/
#footer .map{width: 100%; height: 765px;border: 0;}
#footer .silver img {display: inline-block;vertical-align: middle;max-width: 50px}
.footRight{background: url(../images/common/bgFooter.jpg)no-repeat center top; background-size: cover}
.footRight img{max-width: 319px; width: 100%;margin: 0 auto;}
.footRight p{font-size: 20px; color: #fff;margin: 1em auto 38px;}
.footRight p span{font-weight: bold;display: block;}
.footRight p.phone span{font-weight: bold;font-size: 36px}
.footRight ul{padding: 0; margin: 0;list-style: none;}
.footRight ul li{border-right: 1px solid #fff; display: inline-block; vertical-align: middle;}
.footRight ul li:last-child{border-right: none;}
.footRight ul li a{font-size: 15px; padding: 0 5px; color: #fff;}
#footer .silver, #footer .copy{font-family: "Montserrat"; font-size: 13px;}
/*inner pages*/
.inner #content {min-height: 400px;padding: 40px 0}
.inner-services {text-align:left}
.inner-services dl dt h2{font-family: "Abril Fatface"; color: #A9A0CC;font-weight: 400; font-size: 30px}
.inner-services dl dd{margin: 0 auto;}
/*privacy policy*/
.inPrivacyBox {max-width: 850px; margin: 0 auto;}
.inPrivacyBox p {text-align: justify!important;}
/** Responsive
-------------------------------------------------------*/
/*
@media screen and (max-width: 1024px){
	body {min-width: 320px}
	.row {width: 95%}
}
@media screen and (max-width: 800px){
  [class*="col-"] {width: 100%;}
	#header {padding: 0}
	#header .row {width: 100%}
	#header nav {display:block; height: auto; }
  	#header nav ul { width: 100%; display: none; height: auto;border-bottom:5px solid #000; padding: 0 15px;}
  	#header nav ul li { width: 100%;position: relative; }
  	#header nav ul li a { display: block; float:none; padding: 10px 0;}
  	#header nav a {text-align: left; width: 100%;}
	#header nav a strong {position: absolute; top: 50%; transform: translateY(-50%); left: 15px;}
	#header nav a#pull {display: block; color: #fff; background-color: #000; height: 30px;padding: 10px 0; width: 100%; position: relative;}
	#header nav a#pull:after { content:""; background: url('../images/nav-icon.png') no-repeat; width: 20px; height: 20px; display: inline-block; position: absolute; right: 15px; top: 50%; transform: translateY(-50%);}
	.cta{background: #035B96  url("../images/common/phonecall.png") no-repeat center center;border-bottom-left-radius: 40px;border-top: 2px solid #013f9a ;border-top-left-radius: 40px;bottom: 1%;display: block;height: 80px;position: fixed;right: 0;text-decoration: none; text-indent: -9999em;width: 100px;z-index: 999;}
}*/
